[packages]
pillow = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
freetype-py = "*"

[dev-packages]
setuptools = "*"

[requires]
python_version = "3.13"
python_full_version = "3.13.2"
